<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074894786105-tss9j3qigs3amblgnv7du0sfrngb45al.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074894786105-tss9j3qigs3amblgnv7du0sfrngb45al</string>
	<key>API_KEY</key>
	<string>AIzaSyDIpLD0DA5yljdT0ioqaF94m8AHHLAgn3s</string>
	<key>GCM_SENDER_ID</key>
	<string>1074894786105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-69996</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-69996.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074894786105:ios:e76746f7e4ac00c4a447e8</string>
</dict>
</plist>